<nav class="navbar navbar-dark nav-color">
  <a class="navbar-brand mx-auto">
    Guia fotográfico das melhores trilhas do Rio de Janeiro !!!!</a
  >
</nav>
<div class="container">
  <div class="card-columns">
    <div class="mdb-lightbox">
      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/IMG-20201012-WA0108-01.jpeg"
            class="img-fluid"
          />
          <h4>
            Morro do Rangel<br />
            <small class="text-muted"
              ><b>Localização:</b> Recreio dos Bandeirantes</small
            >
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/mirante das canoas.webp"
            class="img-fluid"
          />
          <h4>
            Mirante do Joá<br />
            <small class="text-muted"><b>Localização:</b> Joá</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/pedra da gavea 2.jpg"
            class="img-fluid"
          />
          <h4>
            Pedra da Gávea<br />
            <small class="text-muted"><b>Localização:</b> São Conrado</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/Pedra do PONTO.jpg"
            class="img-fluid"
          />
          <h4>
            Pedra do Ponto<br />
            <small class="text-muted"><b>Localização:</b> Piraquara</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/Sacopão Lagoa.jpg"
            class="img-fluid"
          />
          <h4>
            Mirante do Sacopã<br />
            <small class="text-muted"><b>Localização:</b> Lagoa</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/pedra do Urubu.jpg"
            class="img-fluid"
          />
          <h4>
            Pedra do Urubu<br />
            <small class="text-muted"><b>Localização:</b> Anil</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/Castelo da Taquara.jpg"
            class="img-fluid"
          />
          <h4>
            Castelos da Taquara<br />
            <small class="text-muted"
              ><b>Localização:</b> Floresta da Tijuca</small
            >
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/garganta do ceu.jpg"
            class="img-fluid"
          />
          <h4>
            Garganta do Céu<br />
            <small class="text-muted"><b>Localização:</b> Gávea</small>
          </h4>
        </div>
      </figure>
      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/Mirante da Cascatinha.jpg"
            class="img-fluid"
          />
          <h4>
            Mirante da Cascatinha<br />
            <small class="text-muted"
              ><b>Localização:</b> Floresta da Tijuca</small
            >
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/mirante dona marta.jpeg"
            class="img-fluid"
          />
          <h4>
            Mirante Dona Marta<br />
            <small class="text-muted"><b>Localização:</b> Santa Teresa</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/cachoeira do campo.jpeg"
            class="img-fluid"
          />
          <h4>
            Cachoeira do Campo<br />
            <small class="text-muted"><b>Localização:</b> Pau da Fome</small>
          </h4>
        </div>
      </figure>

      <figure class="col-md-12">
        <div>
          <img
            alt="picture"
            src="../../../assets/morro da penha.jpeg"
            class="img-fluid"
          />
          <h4>
            Morro da Penha<br />
            <small class="text-muted"><b>Localização:</b> Niteroi</small>
          </h4>
        </div>
      </figure>
    </div>
  </div>
</div>
