<nav class="navbar navbar-expand-lg navbar-dark nav-color fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Eu Trilheiro</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trilhas">Trilhas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/region">Regiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">Registrar Trilha</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<blockquote class="blockquote text-center text-white block-color">
  <p class="mb-0">Developers:</p>
  <footer class="p-3 text-dark">
    <div class="btn-group mr-5">
      <button type="button" class="btn btn-footer">Danilson Nunes</button>
      <button
        type="button"
        class="btn btn-footer dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://github.com/Danilsonunes"
          >Github</a
        >
        <a class="dropdown-item" href="#">Facebook</a>
        <a class="dropdown-item" href="#">Instagram</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Linkedin</a>
      </div>
    </div>
    <!-- Example split danger button -->
    <div class="btn-group mr-5">
      <button type="button" class="btn btn-footer">Alejandro Echezuria</button>
      <button
        type="button"
        class="btn btn-footer dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://github.com/alejandroechezuria"
          >Github</a
        >
        <a
          class="dropdown-item"
          href="https://www.facebook.com/jose.echezuria.18"
          >Facebook</a
        >
        <a class="dropdown-item" href="https://www.instagram.com/echezuriaj/"
          >Instagram</a
        >
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          href="https://www.linkedin.com/in/jose-alejandro-echezuria-554a66199/"
          >Linkedin</a
        >
      </div>
    </div>
    <!-- Example split danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-footer">Karliana Diaz</button>
      <button
        type="button"
        class="btn btn-footer dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://github.com/karlianadiaz"
          >Github</a
        >
        <a class="dropdown-item" href="#">Facebook</a>
        <a class="dropdown-item" href="#">Instagram</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Linkedin</a>
      </div>
    </div>
  </footer>
</blockquote>
