img {
  /* <<<<<<< HEAD */
  object-fit: cover;
  object-position: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 2px 2px 100px greenyellow;
  border: 1px solid green;
}
/* =======
    object-fit: cover;
    object-position: center;
    } */

.jumbotron {
  background-color: #66cdaa;
  height: 400px;
  margin-top: 50px;
}
.container {
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
/* >>>>>>> 620117b35c1792fbc7328aab352f452cd288d101 */
